/*-----------------------
        NavBar
-------------------------*/

.nav-mobile,
#nav-modal {
    display: none;
}


/* navigation background style */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    transition: top ease-in-out 1s;
}


/* global style for lists*/

li {
    list-style: none;
}

header li {
    margin: 1.5em 1.5em 1.5em 0em;
}


/* global styles for links inside lists */

header li a {
    text-decoration: none;
}


/* links inside lists of the class .links style */

.links li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #F2ECED;
}


/* elements inside links class, style */

.links {
    display: flex;
    justify-content: center;
    z-index: 1000;
    letter-spacing: 0em;
}

header li .active {
    font-weight: bold;
}

.icon.close {
    display: none;
    z-index: 1111;
    transition: all 1s ease-in-out;
}

.icon.open .material-icons {
    color: #303030;
    font-size: 50px;
}

.material-icons {
    font-size: 50px !important;
    color: #f2eced;
}

header {
    background: #fbfbfb;
    backdrop-filter: blur(21px);
    padding: 1em 2.5em 1em 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #fbfbfb 50%, rgba(80, 75, 75, 0.9) 50%) left;
    background-size: 200%;
    transition: 0.9s ease-out;
}

header.active {
    background-position: right;
}

nav.active {
    transform: translate(0px, 0);
    animation: navanimate 0.5s ease-in;
}

nav.inactive {
    transform: translate(0px, -200px);
    transition: 1s;
}

@keyframes navanimate {
    0% {
        transform: translate(0px, -100px);
    }
    100% {
        transform: translate(0px, 0);
    }
}

#overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 98;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


/*---- Logout ----*/

#logout-container {
    display: none;
    z-index: 99;
}

#logout-modal {
    position: fixed;
    left: 50%;
    right: 50%;
    z-index: 99;
    transform: translate(-50%, 50%);
    width: 300px;
    height: 150px;
    background: #31363E;
    border-radius: 14px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
}

#logout-modal h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

#logout-modal form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    margin: auto;
}

#logout-modal .row-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

#logout-modal .row-btn button {
    width: 100%;
    width: 86px;
    background: #FFFFFF;
    border: none;
}

#logout-modal .row-btn button:hover {
    cursor: pointer;
}

#logout-modal .row-btn button:hover:nth-child(1) {
    background-color: rgb(206, 134, 134);
    color: white;
    transition: 0.5s;
}

#logout-modal .row-btn button:hover:nth-child(2) {
    background-color: rgb(134, 206, 162);
    color: white;
    transition: 0.5s;
}


/*---- Login ----*/

#login-register-container {
    display: none;
    position: fixed;
    z-index: 99;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

#login-modal,
#register-modal {
    display: none;
    width: 500px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 26px 50px;
}

#login-modal.show,
#register-modal.show {
    display: block;
    background: #FFFFFF;
}

#login-register-container h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    color: #000000;
    margin-bottom: 1rem;
}

#login-register-container .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#login-register-container label {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #504B4C;
}

#login-register-container input {
    width: 100%;
    height: 40px;
    border: 2px solid #504B4C;
    box-sizing: border-box;
}

#login-register-container .row-btn {
    display: flex;
    justify-content: space-between;
}

#login-register-container .row-btn span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
}

#login-register-container .row-btn span:hover {
    cursor: pointer;
}

#login-register-container .row-btn button {
    width: 163.9px;
    background: #504B4C;
    border: none;
    padding: 0.5rem 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #EDEEEE;
}

#login-register-container .row-btn button:hover {
    cursor: pointer;
    background: #EDEEEE;
    color: #504B4C;
    transition: 0.5s;
}


/*----- password strenght -----*/

#register-nav:disabled,
#register-purchase:disabled {
    background: #c6c6c6;
    filter: blur(2px);
}

.toggle-password {
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    top: 29px;
    right: 13px;
}

.form {
    position: relative;
}

.form .strength {
    height: 8px;
    width: 100%;
    background: #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    transition: height 0.3s;
}

.form .strength span {
    width: 0px;
    height: 15px;
    display: block;
    transition: width 0.3s;
}

.form-group label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
}

@media only screen and (max-width: 769px) {
    nav li a.active {
        text-decoration: underline;
    }
    .nav-desktop {
        display: none;
    }
    .nav-mobile,
    #nav-modal,
    .nav-modal-content {
        display: flex;
        width: 100%;
    }
    #nav-modal {
        position: fixed;
        top: 0%;
        left: 0;
        right: 0;
        z-index: 90;
        padding-top: 0rem;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        transition: 0.5s;
    }
    #nav-modal.hide {
        display: none;
    }
    .nav-modal-content {
        background: #504B4B;
        height: 85%;
        width: 85%;
        display: flex;
        flex-direction: column;
    }
    .nav-modal-content nav {
        margin: auto;
    }
    .nav-modal-content ul {
        padding: 0;
    }
    .nav-modal-content {
        margin-top: 5%;
        text-align: center;
        margin: auto;
    }
    .nav-modal-content li {
        margin-bottom: 2rem;
    }
    .nav-modal-content li a {
        text-decoration: none;
        font-family: Bebas Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        letter-spacing: 2px;
        color: #F2ECED;
    }
    .nav-modal-content .top {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        margin-top: 1rem;
        align-items: center;
    }
    .nav-modal-content .icon.close {
        display: block;
    }
    #login-modal,
    #register-modal {
        width: 300px;
    }
    #login-modal,
    #register-modal {
        padding: 26px 30px;
    }
    #login-register-container .row-btn {
        flex-direction: column;
    }
    #login-register-container .row-btn button {
        width: 100%;
    }
}