@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #FBFBFB;
}

.text-right {
    text-align: right;
}


/*------------------
    Scroll bar
--------------------*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-left: 1px solid rgba(0, 0, 0, 0.068);
}

::-webkit-scrollbar-thumb {
    background: #504B4B;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*-----------------
        Section Titles
------------------*/

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.section-title h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #504B4B;
    border-top: 3px solid #504B4B;
    border-bottom: 3px solid #504B4B;
    text-align: center;
    padding: 1rem 1rem;
}

.section-title.light {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-title.light h1 {
    color: #FBFBFB;
    border-top: 3px solid #FBFBFB;
    border-bottom: 3px solid #FBFBFB;
}


/*--------------------
        Left dots
--------------------*/

.left-dots {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 3%;
    z-index: 2;
}

.dots {
    display: inline-block;
    height: 15px;
    background: rgba(80, 75, 75, 0.45);
    width: 15px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.dots.active {
    background: #504B4B;
    opacity: 1;
    transition: 0.5s;
}


/*-----------------------
        NavBar
-------------------------*/


/* navigation background style */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    transition: top ease-in-out 1s;
}


/* global style for lists*/

li {
    list-style: none;
}

header li {
    margin: 1.5em 1.5em 1.5em 0em;
}


/* global styles for links inside lists */

header li a {
    text-decoration: none;
}


/* links inside lists of the class .links style */

.links li a {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #F2ECED;
}


/* elements inside links class, style */

.links {
    display: flex;
    justify-content: center;
    z-index: 1000;
    letter-spacing: 0em;
}

header li .active {
    font-weight: bold;
}

.icon.close {
    display: none;
    z-index: 1111;
    transition: all 1s ease-in-out;
}

.icon.open .material-icons {
    color: #303030;
}

.material-icons {
    font-size: 38px;
    color: #f2eced;
}

header {
    background: #fbfbfb;
    backdrop-filter: blur(21px);
    padding: 1em 2.5em 1em 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #fbfbfb 50%, rgba(80, 75, 75, 0.9) 50%) left;
    background-size: 200%;
    transition: 0.9s ease-out;
}

header.active {
    background-position: right;
}

nav.active {
    transform: translate(0px, 0);
    animation: navanimate 0.5s ease-in;
}

nav.inactive {
    transform: translate(0px, -100px);
    transition: 1s;
    /*visibility: hidden*/
}

@keyframes navanimate {
    0% {
        transform: translate(0px, -100px);
    }
    100% {
        transform: translate(0px, 0);
    }
}


/*--------------------
        Menu-tab
--------------------*/

.menu-tab {
    display: flex;
    width: 70%;
    border-bottom: 5px solid #504B4B;
    margin: 0 15%;
    margin-bottom: 2rem;
}

.menu-tab .menu {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.2em;
    color: #504B4B;
    width: 33.33%;
    text-align: center;
    transform: translateY(5px);
}

.menu-tab .menu:hover {
    cursor: pointer;
    color: #4ac481ab;
    border-bottom: 4px solid #4cc984ab;
    opacity: 1;
    transition: 0.2s;
}

.menu-tab .menu.active {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.3em;
    color: #44A26F;
    border-bottom: 5px solid #44A26F;
    transition: 0.5s;
}


/*--------------------
        Main
--------------------*/

main {
    padding: 0 10%;
}


/*----- continue button and previous --------*/

.continue-btn,
.previous-btn {
    background: #44A26F;
    border: 2px solid #44A26F;
    border-radius: 2px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    align-items: center;
    color: #EDEEEE;
    padding: 0.3em 2em;
}

.continue-btn:hover {
    cursor: pointer;
    border-radius: 5px;
    background: #2e724d;
    border: 2px solid #2e724d;
    color: #ffffff;
    transition: 0.5s;
}

.previous-btn {
    background: #5f5f5f;
    border: 2px solid #5f5f5f;
    color: #EDEEEE;
}


/*-------------------
        Presentation
---------------------*/

.presentation {
    width: 80%;
    margin: auto;
}

.presentation .video {
    height: 500px;
    background: #504B4B;
    border-radius: 2px;
    margin-bottom: 2rem;
    position: relative;
}

.presentation .video .preview {
    position: absolute;
    width: 95%;
    height: 100%;
    top: 0;
    left: 2%;
    bottom: 0;
    right: 2%;
}

.presentation .video .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.presentation .video .play-btn:hover {
    cursor: pointer;
    filter: sepia(100%) brightness(41%) hue-rotate(97deg) saturate(133%) contrast(290%);
    -webkit-filter: sepia(100%) brightness(41%) hue-rotate(97deg) saturate(133%) contrast(290%);
    -moz-filter: sepia(100%) brightness(41%) hue-rotate(97deg) saturate(133%) contrast(290%);
    transition: 0.5s;
}

.bottom .title {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.3em;
    color: #000000;
}

.presentation .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*--------------------
        Details
--------------------*/

.details {
    padding: 0 10%;
}

.details .top {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.details .top img {
    width: 20%;
}

.details .top h1 {
    padding-left: 2rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.3em;
    color: #000000;
}

.details .bottom p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0.3em;
    color: #000000;
}

.details .bottom ol {
    padding-left: 10%;
}

.details .bottom ol li {
    list-style: decimal;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.3em;
    color: #000000;
}

.details .continue {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10%;
    margin-top: 3rem;
}

.details .continue .previous-btn {
    display: none;
}


/*--------------------
        Purchase
--------------------*/

.purchase {
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    padding-top: 5%;
}

.purchase .ask-log {
    margin-top: 3rem;
    text-align: center;
}

.purchase .ask-log button {
    margin-top: 2rem;
}


/*------ left -------*/

.purchase .left {
    width: 60%;
}

.purchase .left .video {
    width: 90%;
    height: 280px;
    left: 190px;
    top: 336px;
    background: #504B4B;
    border-radius: 2px;
    padding: 3.5% 0%;
}

.purchase .left .video img {
    width: 100%;
    align-items: center;
}


/*------ right -------*/

.purchase .right {
    width: 50%;
}

.purchase .right h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 0.1em;
    color: #000000;
}

.purchase .right ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
}

.purchase .right ul .tab {
    text-align: center;
    padding: 0.4rem 2rem;
    background: rgba(80, 75, 75, 0.08);
    border-radius: 2px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.095em;
    color: #504B4B;
}

.purchase .right ul .tab:hover {
    cursor: pointer;
    background-color: rgb(119 119 119 / 35%);
    transition: 0.2s;
    color: #FFFFFF;
}

.purchase .right ul .tab.active {
    background: #504B4B;
    border-radius: 2px;
    color: #FFFFFF;
}

.purchase .credit {
    margin: 2rem 0;
}

.purchase .credit .line,
.purchase .credit .line-row {
    width: 100%;
    margin: 0.5rem 0;
}

.purchase .credit .line-half {
    width: 45%;
}

.purchase .credit .line-row {
    display: flex;
    justify-content: space-between;
}

.purchase #card-element {
    padding: 1rem;
    border: 2px solid #504B4C;
    border-radius: 0rem;
}

.purchase #card-errors {
    text-align: center;
    color: #fa755a;
}

.line-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0.5rem 0 0 0;
}

.line-end span {
    padding: 1em 0 0 0;
    font-size: 12px;
    color: #504b4b;
}


/*--- inputs ---*/

.credit-number {
    position: relative;
}

.credit-number img {
    position: absolute;
    padding: 9px 20px;
}

.purchase label {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #504B4C;
}

.purchase .input {
    width: 100%;
    height: 40px;
    border: 2px solid #504B4C;
    padding-left: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    color: #504B4C;
}

.purchase .credit-number .input {
    padding-left: 80px;
}

.purchase .input::placeholder {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #504B4C;
}

.purchase .input:focus {
    /*border-right: 10px solid #00ffaa;*/
    /*border-right: 10px solid #44A26F;*/
    border-right: 10px solid #44A26F;
    opacity: 1;
    transition: 0.2s;
}


/*--- button ---*/

.purchase button {
    background: #504B4C;
    border: 2px solid #504B4C;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    align-items: center;
    color: #EDEEEE;
    padding: 0.8em 2em;
    width: 100%;
}

.purchase button:hover {
    cursor: pointer;
    background: #c0c0c0;
    color: #242424;
    border: 2px solid #c0c0c0;
    transition: 0.5s;
}

.purchase .credit-submit {
    margin-top: 0;
}

.purchase .credit-submit button.wait {
    display: flex;
    animation: bounce 1s infinite;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 0;
    margin: auto;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        height: 40px;
    }
    40% {
        transform: translateY(-30px);
        height: 48px;
    }
    60% {
        transform: translateY(-15px);
        height: 48px;
    }
}


/*--------------------
        create account
--------------------*/

.account {
    width: 35%;
    margin: auto;
    margin-top: 5rem;
}

.account h3 {
    color: #000000;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px;
}

.account p {
    color: #000000;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #504B4C;
}

.account form {
    margin-top: 1rem;
}

.account .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.account label {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #504B4C;
}

.account input {
    width: 100%;
    height: 40px;
    border: 2px solid #504B4C;
    box-sizing: border-box;
}

.account .buttom-row {
    display: flex;
    justify-content: space-between;
}

.account .buttom-row span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
    text-decoration: underline;
}

.account .buttom-row span:hover {
    cursor: pointer;
}

.account .buttom-row button {
    width: 163.9px;
    background: #504B4C;
    padding: 0.5rem 1rem;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #EDEEEE;
}

.account .buttom-row button:hover {
    cursor: pointer;
    background: #EDEEEE;
    color: #252324;
    transition: 0.5s;
}

#login,
#register {
    display: none;
}

#login.show,
#register.show {
    display: block;
}


/*--------------------
        display none
--------------------*/

.presentation h3,
.details h3 {
    display: none;
}

.presentation,
.details,
.purchase,
.account {
    display: none;
    padding: 0 10% 5% 10%;
}

.presentation.show,
.details.show {
    display: block;
    transition: all 0.5s ease;
    animation: opacity 0.5s;
    padding: 0 10% 5% 10%;
}

.account.show {
    display: block;
    transition: all 0.5s ease;
    animation: opacity 0.5s;
    padding: 0;
}

.purchase.show {
    display: flex;
    animation: opacity 0.5s;
}

@keyframes opacity {
    0% {
        opacity: 0;
        filter: blur(2px);
        -webkit-filter: blur(2px);
        transform: translateX(175px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
        -webkit-filter: blur(0);
        transform: translateX(-0);
    }
}


/*--------------------
        Footer
--------------------*/

.mainn {
    min-height: 100vh;
}


/*-----------------------------
        MEDIA QUERIES            
-----------------------------*/

@media only screen and (max-width: 769px) {
    .links {
        position: absolute;
        top: 0;
        left: 0;
    }
    .mainn {
        min-height: 100%;
    }
     ::-webkit-scrollbar {
        width: 9px;
    }
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-left: 1px solid rgba(0, 0, 0, 0.068);
    }
     ::-webkit-scrollbar-thumb {
        background: #504B4B;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    /*-----------------
            Menu tab
    ------------------*/
    .menu-tab {
        width: 84%;
        margin: 0 8%;
    }
    main {
        padding: 0 10%;
        margin: 2rem 0;
    }
    .details,
    .presentation,
    .purchase {
        padding: 0;
    }
    /*-----------------
            Displays
    ------------------*/
    .menu-tab {
        display: none;
    }
    /*--------Purchase--------*/
    .presentation {
        width: 100%;
    }
    .presentation h3 {
        display: block;
    }
    .presentation .bottom {
        align-items: center;
        gap: 2rem;
        flex-direction: column;
    }
    /*--------Details--------*/
    .details h3 {
        display: block;
    }
    .details .top img {
        display: none;
    }
    .details .top h1 {
        padding-left: 0;
        margin: auto;
    }
    .details .continue {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }
    .details .continue .previous-btn {
        display: block;
    }
    .details .bottom p {
        font-size: 13px;
        margin-bottom: 1rem;
    }
    .details .bottom ol li {
        font-size: 10px;
    }
    /*----accoutn----*/
    .account {
        margin-top: 2rem;
        width: 100%;
        margin-bottom: 5rem;
    }
    /*----Purchase----*/
    .presentation .video {
        height: 200px;
    }
    .purchase .left {
        display: none;
    }
    .purchase .right {
        width: 100%;
    }
    .purchase .right ul {
        gap: 1rem;
    }
    .purchase .right ul .tab {
        padding: 0.4rem 0;
        width: 100%;
    }
    .purchase .right h3 {
        margin-bottom: 2rem;
    }
    .purchase .right .tabs {
        margin-bottom: 2rem;
    }
    .line-end {
        flex-direction: column-reverse;
    }
    .line-end button {
        margin-left: 0;
        width: 100%;
    }
}