@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

/*------------------
    Global
--------------------*/

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #FBFBFB;
}


/*------------------
    Scroll bar
--------------------*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-left: 1px solid rgba(0, 0, 0, 0.068);
}

::-webkit-scrollbar-thumb {
    background: #504B4B;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*-----------------
        Section Titles
------------------*/

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.section-title h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #504B4B;
    border-top: 3px solid #504B4B;
    border-bottom: 3px solid #504B4B;
    text-align: center;
    padding: 1rem 1rem;
}

.section-title.light {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-title.light h1 {
    color: #FBFBFB;
    border-top: 3px solid #FBFBFB;
    border-bottom: 3px solid #FBFBFB;
}


/*--------------------
        Left dots
--------------------*/

.left-dots {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 3%;
    z-index: 2;
}

.dots {
    display: inline-block;
    height: 15px;
    background: rgba(80, 75, 75, 0.45);
    width: 15px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.dots.active {
    background: #504B4B;
    opacity: 1;
    transition: 0.5s;
}


/*-----------------------
        NavBar
-------------------------*/


/* navigation background style */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    transition: top ease-in-out 1s;
}


/* global style for lists*/

li {
    list-style: none;
}

header li {
    margin: 1.5em 1.5em 1.5em 0em;
}


/* global styles for links inside lists */

header li a {
    text-decoration: none;
}


/* links inside lists of the class .links style */

.links li a {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #F2ECED;
}


/* elements inside links class, style */

.links {
    display: flex;
    justify-content: center;
    z-index: 1000;
    letter-spacing: 0em;
}

header li .active {
    font-weight: bold;
}

.icon.close {
    display: none;
    z-index: 1111;
    transition: all 1s ease-in-out;
}

.icon.open .material-icons {
    color: #303030;
}

.material-icons {
    font-size: 38px;
    color: #f2eced;
}

header {
    background: #fbfbfb;
    backdrop-filter: blur(21px);
    padding: 1em 2.5em 1em 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #fbfbfb 50%, rgba(80, 75, 75, 0.9) 50%) left;
    background-size: 200%;
    transition: 0.9s ease-out;
}

header.active {
    background-position: right;
}

nav.active {
    transform: translate(0px, 0);
    animation: navanimate 0.5s ease-in;
}

nav.inactive {
    transform: translate(0px, -100px);
    transition: 1s;
    /*visibility: hidden*/
}

@keyframes navanimate {
    0% {
        transform: translate(0px, -100px);
    }
    100% {
        transform: translate(0px, 0);
    }
}


/*--------------------
        Main
--------------------*/

main {
    display: flex;
    padding: 0 10% 1em 10%;
    flex-wrap: wrap;
}

main h3 {
    font-weight: bold;
    font-size: 28px;
    color: #504b4b;
    margin-bottom: 1rem;
    padding-left: 2rem;
}


/*--------
    Left
----------*/

main .left {
    width: 70%;
}

main .video {
    position: relative;
    width: 97%;
    height: 450px;
    background: #504B4B;
    border-radius: 2px;
}

main .video .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -40%);
}

main .video .play-btn:hover {
    cursor: pointer;
    filter: sepia(100%) brightness(41%) hue-rotate(97deg) saturate(133%) contrast(290%);
    -webkit-filter: sepia(100%) brightness(41%) hue-rotate(97deg) saturate(133%) contrast(290%);
    -moz-filter: sepia(100%) brightness(41%) hue-rotate(97deg) saturate(133%) contrast(290%);
    transition: 0.5s;
}


/*--------
    Right
----------*/

main .right {
    width: 30%;
}

main .videos-section {
    width: 100%;
    left: 981px;
    top: 136px;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 2px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

main .videos-section .top {
    border-bottom: 2px solid #D3D3D3;
}

main .videos-section .top h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.095em;
    color: #000000;
    margin: 20px 30px;
}

main .videos-section .top p {
    text-align: right;
    font-size: 13px;
    letter-spacing: 0.095em;
    color: #000000;
    margin: 20px 30px;
    margin-bottom: 10px;
}

main .videos-section .bottom {
    height: 400px;
    overflow-y: auto;
}


/*----- Item --------*/

main .videos-list {
    padding: 0;
    margin-top: 25px;
}

.videos-list .item {
    margin: auto;
    width: 80%;
    height: 80px;
    left: 1005px;
    top: 245px;
    background: rgba(223, 220, 209, 0.35);
    border-radius: 2px 2px 12px 2px;
    margin-bottom: 25px;
}

.item.active {
    background: #504B4B;
}

.item .detail .title {
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.105em;
    color: #AEADA6;
}

.item .detail .duration {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.095em;
    color: #988E8C;
}

.item .state {
    width: 100px;
    height: 25px;
    left: 1205px;
    top: 300px;
    border-radius: 2px 2px 12px 2px;
}

.item .state.completed {
    background: #44A36F;
}

.item .state.playing {
    background: #BEBA54;
}

.item .state span {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}

.videos-list .item {
    display: flex;
}

.item .check {
    width: 20%;
    text-align: center;
    align-self: center;
}

.item .detail {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    align-self: center;
}

.item .detail .duration {
    display: flex;
    gap: 0.5rem;
}

.item .detail .state {
    margin-left: auto;
    transform: translateY(8px);
}

.item .detail .title {
    transform: translateY(10px);
}

.item .detail .duration {
    transform: translateY(15px);
}

.item .detail.fixed .title,
.item .detail.fixed .duration {
    transform: translateY(0);
}

.item:hover {
    cursor: pointer;
    background-color: rgb(119 119 119 / 35%);
    transition: 0.2s;
}

.item:hover .title,
.item:hover .duration p {
    color: #FBFBFB;
    transition: 0.4s;
}


/*--------------------
        Description
--------------------*/

.description {
    display: block;
    width: 65%;
}

.description .tabs {
    display: flex;
    padding: 0;
    width: 70%;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.description .tabs .tab {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.095em;
    color: #000000;
    width: 100%;
    border-radius: 2px;
    text-align: center;
    align-self: center;
    background: rgba(80, 75, 75, 0.08);
    padding: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.description .tabs .tab.active {
    color: #FBFBFB;
    background: #504B4B;
}

.description .tabs .tab:hover {
    cursor: pointer;
    background: #6e6969;
    color: #ffffff;
    transition: 0.7s;
}


/*--------------------
        Overview
--------------------*/

.description .overview {
    display: none;
}

.description .overview.show {
    display: block;
    width: 100%;
    background: rgba(80, 75, 75, 0.17);
    border-radius: 2px;
    margin-bottom: 2rem;
    transition: 0.5s;
}

.description .overview p {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.095em;
    color: #504B4B;
    padding: 30px;
}


/*--------------------
        Q n A
--------------------*/

.description .qna {
    display: none;
}

.description .qna.show {
    display: block;
    width: 100%;
    padding: 30px;
    background: rgba(80, 75, 75, 0.17);
    border-radius: 2px;
    margin-bottom: 2rem;
    transition: 0.5s;
}


/*---comments--*/


/*-username-*/

.qna .comment-container {
    /*padding: 0 10px;*/
    display: flex;
    flex-direction: column;
    border-top: 1px solid #504B4B;
    padding-top: 2rem;
}

.qna .comment-container:first-of-type {
    border-top: none;
    padding-top: 0rem;
}

.qna .comment-container .comment-header {
    display: flex;
}

.qna .comment-container .comment-header .user {
    width: 10%;
}

.qna .comment-container .username {
    align-self: center;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.095em;
    color: #000000;
    margin-bottom: 15px;
}

.qna .comment-container .username .date {
    font-weight: 300;
    font-size: 11px;
    margin-left: 1rem;
}


/*-text-comment-*/

.qna .comment-container .comment .text-comment {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.095em;
    color: #000000;
    margin-bottom: 20px;
}


/*-replies-*/

.qna .comment-container .comment .replies {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.095em;
    color: #000000;
    margin-bottom: 1rem;
}


/*-vote-*/

.qna .comment-container .vote {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-left: auto;
}

.qna .comment-container {
    display: flex;
    justify-content: space-between;
}

.qna .comment-container .user {
    width: 20%;
}

.qna .comment-container .vote {
    width: 20%;
}


/*--------------------
        Recoureces
--------------------*/

.resources {
    display: none;
}

.resources.show {
    display: block;
    width: 100%;
    padding: 20px 30px;
    background: rgba(80, 75, 75, 0.17);
    border-radius: 2px;
    margin-bottom: 2rem;
    transition: 0.5s;
}

.resources .files {
    padding: 0;
}

.resources .files .file {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 1px solid #504B4B;
    margin-bottom: 10px;
    margin-top: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0.095em;
    color: #504B4B;
}

.resources .files .file.notation {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.095em;
    color: #000000;
}


/*--------------------
        Footer
--------------------

.mainn {
    min-height: 100vh;
}

footer {
    text-align: center;
    border: 1.8px solid #3B3B3B;
}

footer .ft-cont {
    margin: 2em 1em;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul a {
    text-decoration: none;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    /* identical to box height 
    color: #504B4C;
}

footer .mid-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em;
}

footer .mid-footer {
    text-align: center;
}

.mid-footer .newsletter {
    text-align: start;
}

.newsletter .up {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #504B4B;
}

.newsletter input {
    margin-right: -3px;
    margin: 0.4em 0;
    border-radius: 0;
    width: 209px;
    height: 41px;
    padding: 1em;
    background: none;
    color: #504B4C;
    border: 2px solid #504B4C;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

.newsletter .email-btn {
    border-radius: 0;
    width: 75px;
    height: 41px;
    background: #504B4C;
    border: none;
    text-align: center;
    color: #EDEEEE;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.newsletter .no-spam {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #767676;
}

footer .end-footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    margin: 2em;
}

footer .end-footer .socials {
    display: flex;
    justify-content: flex-end;
}

.socials img {
    padding: 0 0.4em;
    width: 34px;
    height: 24px;
}

--*/
/*-----------------------------
        MEDIA QUERIES            
-----------------------------*/

@media only screen and (max-width: 769px) {
    main h3 {
        padding: 0;
        text-align: center;
    }
    main .left,
    main .right {
        width: 100%;
        padding: 1.5em 5% 0 5%;
    }
    main {
        padding: 0;
    }
    main .description {
        padding: 0 10%;
        width: 100%;
    }
    main .video {
        position: relative;
        width: 100%;
        height: 200px;
    }
    .videos-list .item {
        width: 90%;
    }
     ::-webkit-scrollbar {
        width: 9px;
    }
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-left: 1px solid rgba(0, 0, 0, 0.068);
    }
     ::-webkit-scrollbar-thumb {
        background: #504B4B;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .videos-section {
        display: flex;
        flex-direction: column-reverse;
    }
    main .videos-section .top {
        border-top: 2px solid #D3D3D3;
        border-bottom: none;
        position: sticky;
    }
    .description .tabs {
        display: grid;
        padding: 0;
        width: 100%;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        /*margin: 2rem 0;*/
    }
    .description .tabs .tab {
        margin: 0;
    }
    #qna {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .qna .comment-container .comment-header {
        flex-direction: column;
        align-items: center;
    }
    .qna .comment-container .vote {
        margin-left: 0;
    }
    /*footer .ft-cont ul {
        display: none;
    }
    footer .mid-footer {
        flex-direction: column;
    }
    footer .mid-footer img {
        margin-bottom: 2rem;
    }
    footer .newsletter input {
        width: 70%;
    }
    footer .newsletter .email-btn {
        width: 30%;
    }
    footer .end-footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        font-size: 20px;
    }
    footer .end-footer p {
        font-size: 11px;
    }
    footer .end-footer .socials {
        margin-bottom: 1rem;
    }*/
}